li{
	list-style: none;
}

body#assign_privileges{
	
	
}

body#assign_privileges div#framework{
	height:200px;
}

body#assign_privileges div#framework div#roles{
	float:right;
}

body#assign_privileges div#framework div#privileges{
	float:right;
}
